<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <form th:object="${chatForm}" action = "#" th:action="@{/home}" method="POST">
        <label for="username">Username:</label>
        <input id="username" type="text" th:field="*{username}" required/>
        <label for="messageText">Message text</label>
        <input id="messageText" type="text" th:field="*{messageText}">
        <input type="submit">
    </form>

    <div th:each="msg:${chatMessages}">
        <span th:text="${msg.username}">Username</span>:
        <span th:text="${msg.messageText}">Hi, lmfao</span>
    </div>

    <h1 th:each="msg:${chatMessages}"
        th:text="${msg.messageText}"
    >Hello, anon</h1>

</body>
</html>